<div th:fragment="addAccountModal">
    <div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form th:action="@{/credentials}" th:object="${credential}" method="POST">
                    <div class="modal-body">
                        <p>Security key:</p>
                        <div class="input-group input-group-outline mt-3">
                            <label class="form-label">Security Key</label>
                            <input name="securityKey" type="text" class="form-control">
                        </div>
                        <div class="text-left">
                            <span class="form-control-error" th:if="${#fields.hasErrors('securityKey')}" th:errors="*{securityKey}"></span>
                        </div>
                        <p>Account:</p>
                        <div class="input-group input-group-outline mt-3">
                            <label class="form-label">Platform E.g. Steam/Epic Games</label>
                            <input name="name" type="text" class="form-control">
                        </div>
                        <div class="text-left">
                            <span class="form-control-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="input-group input-group-outline mt-3">
                            <label class="form-label">Username or Email</label>
                            <input name="login" type="text" class="form-control">
                        </div>
                        <div class="text-left">
                            <span class="form-control-error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                        </div>
                        <div class="input-group input-group-outline mt-3">
                            <label class="form-label">Password</label>
                            <input name="password" type="text" class="form-control">
                        </div>
                        <div class="text-left">
                            <span class="form-control-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn bg-gradient-primary">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>