<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/application}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="title-content">
    <div class="col-md-12 text-center">
        <h1 class="display-4">My accounts</h1>
        <button type="button" class="btn bg-gradient-success btn-block mt-3" data-bs-toggle="modal"
                data-bs-target="#addAccountModal">
            <small>New account</small>
        </button>
        <div th:insert="fragments/addAccountModal :: addAccountModal" th:remove="tag"></div>
    </div>
</div>
<div layout:fragment="content">
    <div th:each="credential : ${credentials}" th:remove="tag">
        <div th:insert="fragments/card :: card(name = ${credential.getName()}, login = ${credential.getLogin()}, password = ${credential.getPassword()})" th:remove="tag"></div>
    </div>
</div>
</body>
</html>
