<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/application}">
<head>
    <title>Home</title>
</head>
<body>
<span layout:fragment="title">My accounts</span>
<div layout:fragment="content">
    <div th:insert="fragments/card :: card(name = 'Epic Games')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Steam')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Rockstar Games')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Epic Games')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Steam')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Rockstar Games')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Epic Games')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Steam')" th:remove="tag"></div>
    <div th:insert="fragments/card :: card(name = 'Rockstar Games')" th:remove="tag"></div>
</div>
</body>
</html>
